* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 99);
  color: bisque;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 32px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2929dd;
  border: 1px solid grey;
  border-radius: 15px;
}
button:hover {
  background-color: blueviolet;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 600px;
  flex-direction: column;
  border: 1px solid black;
}

.start-options-container {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.start-options-container > div {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.login-container {
  flex-direction: column;
}

.login-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 240px;
}

.login-container > button {
  margin-left: 5px;
}

.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 600px;
  flex-direction: column;
  border: 1px solid black;
}

.admin > h1 {
  margin-top: 20px;
}

.admin-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 100%;
  flex-direction: row;
  border: 1px solid black;
}

.admin-content-container > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.admin-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-display-question {
  padding: 10px;
  border: 1px solid black;
}